<%- include('partials/header') -%>

    <h1>Home</h1>

    <p>
        <%= text %>
    </p>

    <% posts.forEach((post)=> { %>

        <h1>
            <%= post.title %>
        </h1>

        <p>
            <%= post.body.slice(0, 100) + ' ...' %>

                <a href="/posts/<%= post._id.toString() %>">Read More</a>
        </p>



        <% }) %>

            <%- include('partials/footer') -%>