<%- include('header') -%>

    <div class="box" id="heading">
        <h1>
            <%= title %>
        </h1>
        <p>
            It's <%= day %>, and you are still worthless to your family and your loved ones :)
        </p>
    </div>


    <div class="box">
        <% for (let i=0; i<items.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= items[i] %>
                </p>
            </div>
            <% } %>
                <form class="item" action="/todo" method="post">
                    <input type="text" name="newItem" placeholder="New task" autocomplete="off">
                    <button type="submit" name="list" value=<%=title%>>+</button>
                </form>
    </div>

    <%- include('footer') -%>