<%- include('header') -%>

    <div class="box" id="heading">
        <h1>
            <%= title %>
        </h1>
        <p>
            It's <%= day %>, and you are still worthless to your family and your loved ones :)
        </p>
    </div>


    <div class="box">

        <% items.forEach(item=> { %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkDelete" value="<%=item._id%>" onchange="this.form.submit()">
                    <p>
                        <%= item.name %>
                    </p>
                </div>
            </form>
            <% }) %>

                <form class="item" action="/" method="post">
                    <input type="text" name="newItem" placeholder="New task" autocomplete="off">
                    <button type="submit" name="list" value=<%=title%>>+</button>
                </form>
    </div>

    <%- include('footer') -%>